<!-- Itinerary Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Example PHX to YVR</h2>
                    <h3 class="section-subheading text-muted"><a href='img/itinerary/example_itinerary.pdf' download>Click here to download a detailed itinerary</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/itinerary/plane.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Day 1</h4>
                                    <h4 class="subheading">Travel Day</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You arrive in Vancouver at 4pm, allowing a proper hotel check in with a few hours to explore the area around your hotel. Dinner is at Royal Dinette Downtown.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/itinerary/park.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Day 2</h4>
                                    <h4 class="subheading">Downtown and Stanley Park</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After breakfast at Jam Cafe you take the bus to Denman St where you rent a bike to explore Stanley Park. In the afternoon, you window shop along Granville Robson Street while stopping for sweets at Thierry Chocolates.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/itinerary/bridge.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Day 3</h4>
                                    <h4 class="subheading">Grouse Mtn and Capilano Bridge</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Day 3 is about exploring the local mountains of Vancouver. Take the free shuttle to Grouse Mountain where a gondola will take you to the summit. Eat lunch while overlooking the city. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/itinerary/sunrise.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Day 4</h4>
                                    <h4 class="subheading">Last day and travel home</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After a successful trip is complete, it's an early wake up for an 8:30am departure from Vancouver back to Phoenix. As you reflect back on your trip, all you can think about is where the next adventure will take you</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Where
                                    <br>To
                                    <br>Next?</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
