<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works</h2>
                    <h3 class="section-subheading text-muted">Your dream vacation is 3 steps away</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-copy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dwelling Program Brochure</h4>
                    <p class="text-muted">Gladys makes insurance</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paste fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dwelling Application</h4>
                    <p class="text-muted">buy my stuff</p>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 text-center consult">
                    <a href="https://calendly.com/jenyee1022/free-30min-consult" target="_blank" class="page-scroll btn btn-xl">Request a Quote</a>
                </div>
            </div>
        </div>
    </section>
